<h1>books/show</h1>

<%= render 'userinfo', post_images: @homes %>

<div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table">
        <tbody>
         <% @books.each do |book| %>
         <tr>
            <td><%= user.image %></td>
            <td><%= book.title %></td>
            <td><%= book.opinion %></td>
            <td><%= book.opinion %></td>
            <td><%= link_to 'Edit', edit_book_path ,:class 'btn btn-sm btn-success' %></td>
            <td><%= link_to 'Destroy', edit_book_path ,:class 'btn btn-sm btn-danger' %></td>
        </tr>
        <% end %>
        </tbody>
    </table>
</div>